<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="src/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu" rel="stylesheet">
		<title>visitingcore</title>

		<!-- Bootstrap core CSS -->
		<link href="src/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="src/style.css" rel="stylesheet">
		<script src="src/chartJS/Chart.bundle.js"></script>
		<script src="src/chartJS/samples/utils.js"></script>
		<style>
		</style>
	</head>

	<body>

		{{> page/nav}}

		<div class="container">
<h1 style="align:center"> You've successfully submitted your  request</h1>

		</div> <!-- /container -->
		{{> page/footer}}
	</body>

</html>
