<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="src/favicon.ico">
		<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu" rel="stylesheet">
		<title>visitingcore</title>

		<!-- Bootstrap core CSS -->
		<link href="src/bootstrap.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="src/style.css" rel="stylesheet">
		<script src="src/chartJS/Chart.bundle.js"></script>
		<script src="src/chartJS/samples/utils.js"></script>
		<style>

		</style>
	</head>

	<body>

		
{{> page/nav}}
		
		<div class="jumbotron">
			<div class="container">
				<h1>BGVACC visiting site</h1>
				<p>What have you come here to do?</p>
			</div>
		</div>

		<div class="container">
			
			<div class="row">
				<div class="col-md-4">
					<h2>Apply to visit as a controller</h2>
					<p>To apply as a visiting controller you need a minimum S2 rating, have controlled for over 50 hours on this rating, and not moveded VACC in the last 90 days. As a visitor, you will be provided with compulsory training and required to control a minimum of 10 hours within our airspace per month</p>
					<a href="atcvisit"><button class="btn btn-lg btn-primary btn-block">Apply now</button></a>
				</div>
				<div class="col-md-4">
					<h2>Apply to transfer as a controller</h2>
					<p>To apply as a transfer controller you need a minimum S1 rating, have controlled for over 50 hours on this rating, and not moved VACC in the last 90 days. As a transfer controller, you will be provided with compulsory training for further ratings.</p>
					<a href="atctransfer"><button class="btn btn-lg btn-primary btn-block">Apply now</button></a>
				</div>
				<div class="col-md-4">
					<h2>Apply to start your ATC career</h2>
					<p>To apply to start your ATC career, you should be a home member of either VATSIM Bulgaria or VATSIM Romania, and have a rating below C1. We will give training to further ratings.</p>
					<a href="atccareer"><button class="btn btn-lg btn-primary btn-block">Apply now</button></a>
				</div>
			</div>
		</div>
			{{> page/footer}}
	</body>

</html>
